<div class="widget">
  <h3 class="widget-title">联系我们</h3>
  <ul class="widget-list">
    <li>电话：<%= config.tutoring.contact.phone %></li>
    <li>微信：<img src="<%= config.tutoring.contact.wechat_qr %>" width="100" alt="微信二维码"></li>
  </ul>
</div>
